#newsletter__email {
  background-image: url("../../../assets/image/home/gray-star.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 3%;
  max-width: 100%;
  width: 100%;
}

#newsletter__email:focus {
  box-shadow: 0 0 0 5px rgba(238, 125, 84, 0.2);
  outline: none;
  @apply border-primary;
}

#newsletter__email::placeholder {
  @apply font-poppins text-grayText;
}
