@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container */
.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3em 75px;
}

/* Global Submit Button Style */
.submit__button {
  height: 56px;
  @apply tracking-[1px] uppercase bg-black rounded-full px-12 font-poppins text-white font-semibold;
}

/* Global Prymary Button */
.primary__button {
  @apply inline-block text-white font-poppins font-normal bg-black rounded-md py-4 px-8 text-lg transition-all duration-300 border border-black;
}

.primary__button:hover {
  @apply text-black bg-transparent;
}

/* Global Secondary Button */
.secondary__button {
  @apply inline-block text-black font-poppins font-normal bg-transparent rounded-md py-4 px-8 text-lg transition-all duration-300 border border-transparent;
}

.secondary__button:hover {
  @apply border-black;
}
